/* 
--sea-green: #329959;
--plantation: #265840;
--silver-tree: #5ebc9b;
--snow-drift: #f3f6f4;
--silver-tree: #52ae8b;
--silver-tree: #6ebba2;
--green-haze: #049c44;
--tradewind: #6cbcac;
--aqua-forest: #609973;
 */